[*]
charset = utf-8
end_of_line = lf

[*.{php,lock,xml}]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
indent_size = 4
indent_style = space

[composer.json]
indent_size = 4
indent_style = space

# Fixes an error with missing whitespace in heredoc strings used in tests:
# ParseError: Invalid body indentation level
[/**/tests/**/*.php]
trim_trailing_whitespace = false
